################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Flare_e-APS/Output/DIEUNGUYEN/Temporary/DepSets
/Flare_ARM/Output/DIEUNGUYEN/Temporary
/Flare_ARM/Output/DIEUNGUYEN/HtmlHelp
/Flare_ProBot/Output/DIEUNGUYEN/HtmlHelp
/Flare_Profiling System (PL)/Output/DIEUNGUYEN/Temporary
/Flare_Profiling System (PL)/Output/DIEUNGUYEN/HtmlHelp
/Flare_e-APS/FileSync/FileSyncCache.mcspcachef
/Flare_e-APS/Output/DIEUNGUYEN/HtmlHelp
/Flare_e-APS/Output/DIEUNGUYEN/Temporary
/Flare_ProBot/Output/DIEUNGUYEN/Temporary
/Flare_RPI/Output/DIEUNGUYEN/HtmlHelp
/Flare_RPI/Output/DIEUNGUYEN/Temporary/DepSets
/Flare_RPI/Output/DIEUNGUYEN/Temporary
/Flare_ARM/Doc/SFT-324100-110 ARM User Manual_v3.11_old.docx
/Flare_ARM/Doc/Issues of ARM v3.11.docx
/Flare_PRI/Output/DIEUNGUYEN/Temporary
/Flare_PRI/Output/DIEUNGUYEN/HtmlHelp
/Flare_PRI/Analyzer/Content.cadbf
/Flare_ProBot/Analyzer/Content.cadbf/Content12.s3db-wal
/Flare_ProBot/Analyzer/Content.cadbf/Content12.s3db-shm
/Flare_WPI/DOC/SFT-326000-000 WPI User Manual v3.6.docx
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/Help FTM/FileContentIndex
/Flare_ProBot/Analyzer/Content.cadbf/Content12.s3db
/Flare_ProBot/DOC/~$T-324000-200 ProBot User Manual.docx
/Flare_ProBot/DOC/~WRL3882.tmp
/Flare_ProBot/Project/Users/DIEUNGUYEN/RecentLinks.xml
/Flare_ProBot/Project/Users/DIEUNGUYEN/RecentImages.xml
/Flare_WPI/Output/DIEUNGUYEN/HtmlHelp/Help.chm
/Flare_WPI/Output/DIEUNGUYEN/HtmlHelp/HtmlHelp.mclog
/Flare_RPI/Analyzer/Content.cadbf/Content12.s3db
/Flare_RPI/Output/DIEUNGUYEN/HtmlHelp/Help.chm
/Flare_RPI/Output/tps/Temporary
/Flare_RPI/Output/tps/HtmlHelp/HtmlHelp.mclog
/Flare_RPI/Output/tps/HtmlHelp/Help.chm
/Flare_RPI/DOC/SFT-324000-000 RPI User Manual v3_14.docx
/Flare_RPI/DOC/~$T-324000-000 RPI User Manual.docx
/Flare_RPI/Project/Users/tps/RecentLinks.xml
/Flare_RPI/Project/Users/DIEUNGUYEN/RecentLinks.xml
/Flare_RPI/Project/Users/tps/PinnedImages.xml
/Flare_RPI/Project/Users/tps/PinnedSnippets.xml
/Flare_RPI/Project/Users/tps/PinnedStyles.xml
/Flare_RPI/Project/Users/tps/PinnedVariables.xml
/Flare_RPI/Project/Users/tps/RecentImages.xml
/Flare_RPI/Project/Users/tps/RecentSnippets.xml
/Flare_RPI/Project/Users/tps/RecentVariables.xml
/Flare_RPI/Project/Users/tps/UserData.fluser
